body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 0;
    
    --primary-color: #2d5c88;
    --light-primary-color: #96aec4;
    
    --secondary-color: #4e4e4e;
    --light-secondary-color: #d3d3d3;
    }
    
    header {
    background-color: var(--primary-color);
    display: flex;
    
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0.5em;
    
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    
    z-index: 1;
    
    }
    
    #search-container {
    background-color: white;
    border-radius: 8px;
    color: var(--secondary-color);
    }
    
    
    #search-box {
    border: none;
    outline: none;
    font-size: 1em;
    }
    
    .search-icon {
    padding: 0.5rem;
    border-right: 1px solid var(--light-secondary-color);
    
    }
    
    main {
    max-width: 60%;
    margin: 5rem auto;
    }
    
    nav {
    display: flex;
    justify-content: space-between;
    }
    
    img {
    width: 100%;
    }
    
    .links-container a {
    background-color: var(--light-primary-color);
    color: white;
    text-decoration: 0.5em;
    padding: 0.5em;
    margin-right: 1em;
    }
    
    .links-container a:last-child {
    margin-right: 0;
    }
    
    .links-container .selected {
    border-bottom: 3px solid var(--primary-color);
    
    }
    
    #thumbnails-container {
    display: flex;
    justify-content: space-between;
    }
    
    .thumbnail {
    border-bottom: 3px solid transparent;
    }
    
    .thumbnail.selected {
    border-bottom: 3px solid var(--primary-color);
    }
    
    .thumbnail:not(:last-of-type) {
    margin-right: 5px;
    }
    
    #cards-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    
    justify-content: center;
    align-content: center;
    
    }
    
    .card {
    position: relative;
    
    background-color: var(--light-secondary-color);
    padding: 8px;
    width: 305px;
    }
    
    .delete-button {
    position: absolute;
    
    top: -8px;
    right: -6px;
    color: var(--light-primary-color);
    }
    
    
    footer {
    text-align: center;
    padding-bottom: 5px;
    }
    
    @media screen and (max-width: 650px) {
    .card {
    width: 275px;
    font-size: 0.7rem;
    }
    }